In [12]:
for i in range(4):
    for j in range(4):
        print("*",end='')
        
        
    print()

****
****
****
****

In [15]:
for i in range(5):
    for j in range(i+1):
        print("*",end='')
        
        
    print()

*
**
***
****
*****

In [16]:
for i in range(6):
    for j in range(6-i):
        print("*",end='')
        
        
    print()

******
*****
****
***
**
*

In [18]:
n=int(input("enter no. of rows:"))
num=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end='')
        num=num+1
        
    print()

enter no. of rows:4
1
23
456
78910

In [25]:
n=int(input("enter no. of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
        
        
    print()

enter no. of rows:4
1
12
123
1234

In [28]:
n=int(input("enter no. of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end='')
        
        
    print()

enter no. of rows:5
1
22
333
4444
55555

In [3]:
n=int(input("enter a number:"))
for i in range(0,n):
    print((n-i)*" "+"*"*(2*i-1))

enter a number:5

    *
   ***
  *****
 *******

In [21]:
def alpha(n):
    num=65
    for i in range(1,n+1):
        for j in range(1,i+1):
            a=chr(num)
            print(a,end="")
            num=num+1
        print("\r")
        
alpha(4)
print()

A
BC
DEF
GHIJ

In [4]:
#prime number
n=int(input("enter a number:"))
if n>1:
    for i in range(2,n):
        if(n%i)==0:
            print(n,"is not prime")
            break
    else:
        print(n,"is prime")
else:
        print(n,"is not prime")

enter a number:15
15 is not prime

In [12]:
#prime number upto n
upper=int(input("enter the upper limit:"))
lower=int(input("enter the lower limit:"))


for n in range(lower,upper+1):
    if n>1:
        for i in range(2,n):
            if(n%i==0):
                break
        else:
            print(n)

enter the upper limit:60
enter the lower limit:40
41
43
47
53
59

In [18]:
#factorial of a number
n=int(input("enter a number:"))
for i in range(1 ,n):
    n*=i
    print(n)

enter a number:5
5
10
30
120

In [21]:
n=int(input("enter a number:"))
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y), end="")
    print()

enter a number:5
55555
54445
54345
54445
55555

In [1]:
#factorial using recursion
def fact(n):
    if n ==0:
        return 1
    return n*fact(n-1)
result=fact(6)
print(result)

720

In [10]:
#to find lcm of two numbers
def lcm(x, y):  
    if x > y:
        greater=x
    
    else:
        greater=y
     
    while(True):  
        if((greater % x == 0) and (greater % y == 0)):  
            lcm = greater  
            break  
        greater += 1  
    return lcm  
  
num1 = int(input("Enter first number: "))  
num2 = int(input("Enter second number: "))  
print("The L.C.M. of", num1,"and", num2,"is", lcm(num1, num2))

Enter first number: 24
Enter second number: 25
The L.C.M. of 24 and 25 is 600

In [17]:
#fibonacci series
def recfibo(n):
    if n<=1:
        return n
    else:
        return(recfibo(n-1)+recfibo(n-2))
    
nterms=int(input("enter number of terms:"))
if nterms<=0:
    print("enter valid terms")
else:
    print("fibonaacii series")
    
for i in range(nterms):
    print(recfibo(i))

enter number of terms:8
fibonaacii series
0
1
1
2
3
5
8
13

In [6]:
#factors of a number
n=int(input("enter the number:" ))
for i in range(1,n):
    if(n%i==0):
        print(i)
    else:
        pass

enter the number:76
1
2
4
19
38

In [12]:
#22.wap that computes the value of a+aa.....
def sum(n):
    sum=0
    j=1
    for i in range(1,n+1) :
        sum=sum+j
        j=j*10+1
    return sum
    
    
print(sum(5))

12345

In [14]:
#program to swap two variables
a=int(input("enter ist variable(a):"))
b=int(input("enter 2nd variable(b): "))
(a,b)=(b,a)
print(a,b)

enter ist variable(a):10
enter 2nd variable(b): 20
20 10

In [20]:
#odd or even
n=int(input("enter a number"))
if(n%2==0):
    print("even number",(i))
else:
    print("odd number",(i))

enter a number9000
even number

In [6]:
#square root
import math
n=int(input("enter a number:"))
print(" square root :%f"%math.sqrt(n))

enter a number:81
 square root :9.000000

In [5]:
#natural numbers from 1 to n
n=int(input("enter limit:"))
for i in range(1,n+1):
    print(i,end=',')
    
print()

enter limit:10
1,2,3,4,5,6,7,8,9,10,

In [11]:
#reverse nat no.
n=int(input("enter a limit:"))
for i in range(n,0,-1):
    print(i,end=',')
print()

enter a limit:10
10,9,8,7,6,5,4,3,2,1,

In [7]:
for i in range(1,101):
    if(i%2==0):
        print("even num:",(i))
    else:
        print("odd num",(i))
print()

odd num 1
even num: 2
odd num 3
even num: 4
odd num 5
even num: 6
odd num 7
even num: 8
odd num 9
even num: 10
odd num 11
even num: 12
odd num 13
even num: 14
odd num 15
even num: 16
odd num 17
even num: 18
odd num 19
even num: 20
odd num 21
even num: 22
odd num 23
even num: 24
odd num 25
even num: 26
odd num 27
even num: 28
odd num 29
even num: 30
odd num 31
even num: 32
odd num 33
even num: 34
odd num 35
even num: 36
odd num 37
even num: 38
odd num 39
even num: 40
odd num 41
even num: 42
odd num 43
even num: 44
odd num 45
even num: 46
odd num 47
even num: 48
odd num 49
even num: 50
odd num 51
even num: 52
odd num 53
even num: 54
odd num 55
even num: 56
odd num 57
even num: 58
odd num 59
even num: 60
odd num 61
even num: 62
odd num 63
even num: 64
odd num 65
even num: 66
odd num 67
even num: 68
odd num 69
even num: 70
odd num 71
even num: 72
odd num 73
even num: 74
odd num 75
even num: 76
odd num 77
even num: 78
odd num 79
even num: 80
odd num 81
even num: 82
odd num 83
even num: 84
odd num 85
even num: 86
odd num 87
even num: 88
odd num 89
even num: 90
odd num 91
even num: 92
odd num 93
even num: 94
odd num 95
even num: 96
odd num 97
even num: 98
odd num 99
even num: 100

In [8]:
#no of digits in a number
n=int(input("enter the number:"))
count=0
while(n>0):
    n=n//10
    count+=1
print("number of digit in a given num:%d"%count)

enter the number:2345
number of digit in a given num:4

In [9]:
#vol of sphere
pi = 3.14
r= 5.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  523.3333333333334

In [10]:
#quadratic equation
import cmath
a=float(input("enter a:"))
b=float(input("enter b:"))
c=float(input("enter c:"))
d=b**2-4*a*c
root1=(-b-cmath.sqrt(d))/2*a
root2=(-b+cmath.sqrt(d))/2*a
print("the roots are{0}and{1}".format(root1,root2))

enter a:20
enter b:30
enter c:40
the roots are(-300-479.58315233127195j)and(-300+479.58315233127195j)

In [7]:
#write a pro which..stop....
count=0
total=0.0
while True:
    n=input("enter a number:")
    if n =='stop':
        break
    try:
        num1=float(n)
    except:
        print("invalid")
        continue
    count=count+1
    total=total+num1
print(count,total,total/count)

enter a number:20
enter a number:30
enter a number:10
enter a number:stop
3 60.0 20.0

In [7]:
#sum of multiples of 3 and 5
n=int(input("enter the number:"))
sum=0
for i in range(1,n):
    if(i%3==0)or(i%5==0):
        print(i)
        sum=sum+i
        
print("sum of no.s which are multiples of 3 and 5 is:", (sum))

enter the number:20
3
5
6
9
10
12
15
18
sum of no.s which are multiples of 3 and 5 is: 78

In [1]:
#sum of multiples of 3 and 5 below 1000
sum=0
for i in range(1,1000):
    if(i%3==0)or(i%5==0):
    
        sum=sum+i
        
print("sum of no.s which are multiples of 3 and 5 below 1000:", (sum))

sum of no.s which are multiples of 3 and 5 below 1000: 233168

In [3]:
#sum of squares difference
def diff(n):
    #sum of square of first n natural no.
    s=(n * (n + 1) * (2 * n + 1)) / 6
    # sum of n naturals numbers 
    k = (n * (n + 1)) / 2
    #square of sum
    a=k**2
    #difference
    m=abs(s-k)
    
    return(m)
print(diff(100))

333300.0

In [8]:
#13 ques
count=0
for i in range(2000,3201):
    if(i%7==0)and(i%5!=0):
        print(i)
        count=count+1
print("total is:",(count))

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199
total is: 138

In [1]:
#11
print("if u want to do addition ,then type true in your choice and for multiplication type false ")
n=str(input("enter your choice:"))
num=int(input("enternumber:"))
sum=0
product=1
if(n=="true"):
    for i in range(1,num+1):
        sum=sum+i
    print(sum)
elif(n=="false"):
    for i in range(1,num+1):
        product=product*i
    print(product)

if u want to do addition ,then type true in your choice and for multiplication type false
enter your choice:false
enternumber:5
120